body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#corresp{
    display: flex;
    margin: 0.5em;
}
#start_alphabet{
    display: flex;
    flex-direction: column;
}
#end_alphabet{
    display: flex;
    flex-direction: column;
}
canvas{
    width: 10em;
}
#k{
    width: 4em;
}
#translate{
    display: flex;
    align-items: center;
}
#direction{
    margin: 0.5em;
    text-align: center;
}
@media (max-width: 640px) {
    #translate{
        flex-direction: column;
    }
    #direction{
        transform: rotate(90deg);
        height: 3em;
    }
}