body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    text-align: center;
    margin: 1em;
    font-size: larger;
}
a{
    color: dimgray;
}