body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    margin: 0;
}
h2{
    margin: 0.5em;
    color: grey;
}
input[type="number"]{
    width: 5em;
    -moz-appearance: textfield;
}
input{
    width: 5em;
}
select{
    width: 5.55em;
}
label{
    text-align: right;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr 5em 1fr;
}
.space{
    height: 0.75em;
}
.big-space{
    height: 5em;
}
